.product{
    height: 450px;
    width: 338px;
    background-color: white;
    margin: 10px 10px;

}
.product>h2{
    margin-top: 15px;
    margin-left: 15px;
}
.product>p{
    margin-top: 30px;
    margin-left: 15px;
    color: rgb(31, 8, 233);
    /* text-decoration: overline; */
    
}
.product>p:hover{
    text-decoration: underline;
    color: brown;
}
.product-item{
    margin-top:10px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.product-item>img{
    height: 300px;
    margin-top: 5px;
    margin-left: 13px;
    margin-right: 13px;
    width: 300px;
}
 .product-item>p{
    margin-right: 18px;
    text-align: left;
}

.productRe{
    background-color: red;
}